<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients</title>
     <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
    <div id="client_list">
            <div class="header-row">
                <h1 id="client_list_h1">Client List</h1>
                <div class="header-buttons">
                    <button id="go_to_calendar">Calendar</button>
                    <button id="export_client_list">Import/Export</button>
                    <button id="add_client">Add Client</button>
                </div>
            </div>
        <hr>

        <table>
            <thead>
                <tr id="client_list_headers">
                    <!-- These are the headers in the client list -->
                    <th><input type="checkbox"></th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Account</th>
                    <th></th>
                </tr>
            </thead>

            <tbody id="clientTableBody">
                {% for client in clients %}
                <tr>
                    <td><input type="checkbox"></td>
                    <td>{{ client[1] }}</td>
                    <td>{{ client[2] }}</td>
                    <td>{{ client[3] }}</td>
                    <td>{{ client[4] }}</td>
                    <td>Active</td>
                    <td class="menu_cell">
                        <div class="menu-container">
                            <img class="meatballs" src = "{{ url_for('static', filename='img/meatball_menu.png') }}" alt="3 dots">
                            <div class="dropdown_menu">
                                <!-- <button class="edit_client">Edit</button> -->
                                 <button class="edit_client" data-id="{{ client[0] }}">Edit</button>
                                <button>Delete</button>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div id="modal" class="modal">
        <div class="client_modal_content">
            <span class="close-btn">&times;</span> <!-- this is what makes the x to close the window happen -->
            <h1 id="edit_client_h1">Edit Client Info</h1>
            <br>
            <form id="editForm">
                <input type="hidden" id="editClientId">
                <label class="client_info">First Name</label>
                <br>
                <input type="text" name="firstname" placeholder="First Name">
                <br><br>
                <label class="client_info">Last Name</label>
                <br>
                <input type="text" name="lastname" placeholder="Last Name">
                <br><br>
                <label class="client_info">Phone Number</label>
                <br>
                <input type="phone" name="phone" placeholder="(###) ###-####">
                <br><br>
                <label class="client_info">Email</label>
                <br>
                <input type="email" name="email" placeholder="Email">
                <br>
                <br><br>
                <textarea id="notes" placeholder="Add notes" rows="5" cols="35"></textarea>
                <br><br>
                <span id="save-button"><button id="save" type="submit">Save</button></span>
                <button id="delete_event">
                    <img id="trash_can" src="{{ url_for('static', filename='img/white_trash_can.png') }}" alt="Delete trash can icon">
                </button>
            </form>
        </div>
    </div>
        <script src = "{{ url_for('static', filename = 'client_list.js') }}" defer></script>
</body>
</html>