<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
    <div id="settings">
            <div class="header-row">
                <h1 id="client_list_h1">Settings</h1>
                <div class="header-buttons">
                    <button id="go_to_calendar">Calendar</button>
                </div>
            </div>
        <hr>
        <h2>Preferences</h2>
        
        <h3>Buffer Times</h3>
        <form id="bufferForm">
        
            <label for="buffer_after">Buffer Time After Appointment (Minutes)</label><br>
            <input type="number" id="buffer_time_after" name="buffer_after" min="0" step="5"><br><br>

            <button type="submit" id="save_preferences">Save Preferences</button>
        </form>
    </div>
    <script src = "{{ url_for('static', filename = 'calendar.js') }}" defer></script>
    <script src = "{{ url_for('static', filename = 'settings.js') }}" defer></script>
</body>
</html>